{{ partial "header" . }}

<main>

    <div class="container">
        <div class="row">
            <div class="cognito">
                <script src="https://services.cognitoforms.com/s/8XThEAHxjE2Qg8oPxMVbHg"></script>
                <script>Cognito.load("forms", { id: "1" });</script>
            </div>
            <br/><br/><br/><br/>

            <div class="container">
                <div class="row">
                    <div class="fb-like" data-href="https://visc.network/"
                        data-layout="standard" data-action="like" data-size="small"
                        data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>
    </div>

</main>

{{ partial "footer" . }}
