<script type="text/javascript"
    src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js"
    data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">
function showMCPopup() {
    document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    document.cookie = "MCPopupSubscribed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    document.cookie = "MCEvilPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";

    require(
        ["mojo/signup-forms/Loader"],
        function(L) {
            L.start({"baseUrl":"mc.us17.list-manage.com","uuid":"77bcb675fd16363497240bd82","lid":"810e3181e7"}) });

    return true;
}
</script>
<script type="text/javascript">
$('#nav-icon-envelop').on('click', showMCPopup);
</script>