{{ partial "header" . }}

<main>

    <div class="intro">

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>

        <br/>
        <h4 class="strong">Blockchain, Cryptocurrencies and Smart Contracts for your Inbox</h4>
        <button class="btn btn-success" onclick="showMCPopup()">Subscribe me!</button>
        <br/><br/><br/><br/>

        <div class="container">
            <div class="row">
                <div class="fb-like" data-href="https://visc.network/"
                    data-layout="standard" data-action="like" data-size="small"
                    data-show-faces="true" data-share="true"></div>
            </div>
        </div>
    </div>

</main>

{{ partial "footer" . }}
